*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --ff-heading: 'Poppins', sans-serif;
  --ff-texting: 'Open Sans', sans-serif;

  --color-primary: hsl(257, 40%, 49%);
  --color-secondary: hsl(300, 69%, 71%);

  --fs-heading: clamp(2.3rem, 0.5rem + 2vw, 4rem);
  --fs-texting: clamp(1.5rem, 0.1rem + 1vw, 1.8rem);
  font-size: 62.5%;
}

body::before{
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: -1;

  background-image: url(./images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size:contain;
}
body{
  background-color: var(--color-primary);
  font-family: var(--ff-texting);
  color: #fff;
  font-size: var(--fs-texting);
}

.page{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

header{
  margin-top: 3rem;
}
.logo img{
  width: 12rem;
  margin-bottom: 6rem;
}
.img-head img{
  width:30rem; 
}

main{
  padding: 0 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  text-align: center;

  width: 100%;
  max-width: 50rem;
}
main h2{
  font-family: var(--ff-heading);
  font-size:var(--fs-heading);
  font-weight: 600;
}
main p{
  line-height: 2.2rem;
}
button{
  color: var(--color-primary);
  font-size: 1.2rem;

  background-color: #fff;
  border: none;
  border-radius: 2rem;
  width: 18rem;
  height: 4rem;

  box-shadow: 2px 2px 5px rgba(0, 0, 0, 30%);
}
button:hover{
  transform: scale(1.1);
}
.social-media{
  margin-top: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.social-media div a img{
  padding: 0.5rem;
  width: 3.5rem;
  border: 1px solid #000;
  border-radius: 4rem;
  filter: invert();
}
.social-media div a img:hover{
  opacity: 0.5;
}

footer{
  margin-top: 2rem;
}
footer .attribution a{
  color: #fff;
}
footer .attribution a:visited{
  color: var(--color-secondary);
}

@media(min-width:640px){
  body::before{
    
    background-image: url(./images/bg-desktop.svg);
    background-size:cover;
  }
}

@media(min-width:1200px){
 
  
  main{
    padding: 0;
    text-align: left;
    
  }
  main h2{
    width: 44rem;
  }
  .page{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  

  header{
    margin: 0;
    width: 100%;
  
  }
  .logo img{
    width: 100%;
  }
  .logo{
    max-width: 20rem;
    margin-bottom: 1rem;
  }
  .img-head img{
    width:100%;
  }
  .img-head{
   width: 75rem;
  }
  footer{
    position: absolute;
    top: 70rem;
    right: 20rem;
  }
}

